//- original html version saved from
//  https://github.com/n2liquid/curriculum
//  or
//- https://rawgithub.com/
//- n2liquid/curriculum-vitae/template/guilherme-vieira-cv.html

html
  head
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(charset="utf-8")
    title Curriculum Vitae
    style
      include style.css
  body
    main
      header

        h1(class="introduction-heading") Erivaldo Filho
        p
          span(lang="pt-BR") Brasileiro, 29 anos.
          span(lang="en-US") Brazilian, 29 years old.
        p
          span(lang="pt-BR") João Pessoa, Brasil.
          span(lang="en-US") João Pessoa, Brazil.
        p
          span(lang="pt-BR") E-mail: desadoc@gmail.com (Preferencialmente)
          span(lang="en-US") E-mail: desadoc@gmail.com (Preferably)
        p
          span(lang="pt-BR") Telefone: (83) 99666-2833
          span(lang="en-US") Phone: +55 83 99666-2833

      h2(class="skills-heading")
        span(lang="pt-BR") Habilidades
        span(lang="en-US") Skills
      ul
        li
          span(lang="pt-BR") Tecnologias
          span(lang="en-US") Technologies
          ul
            li
              span(lang="pt-BR") Linguagens de Programação
              span(lang="en-US") Programming Languages
              ul
                li
                  span(lang="pt-BR") C, C++, Java, JavaScript, Lua, PHP7, Haskell, Shell Scripting
                  span(lang="en-US") C, C++, Java, JavaScript, Lua, PHP7, Haskell, Shell Scripting
            li
              span(lang="pt-BR") Web - Frontend
              span(lang="en-US") Web - Frontend
              ul
                li
                  span(lang="pt-BR") HTML, CSS, SASS, JSP, JSF, Jade/Pug
                  span(lang="en-US") HTML, CSS, SASS, JSP, JSF, Jade/Pug
                li
                  span(lang="pt-BR") Bootstrap, Zurb Foundation, Primefaces
                  span(lang="en-US") Bootstrap, Zurb Foundation, Primefaces
                li
                  span(lang="pt-BR") React e Webpack 2
                  span(lang="en-US") React and Webpack 2
            li
              span(lang="pt-BR") Web - Backend
              span(lang="en-US") Web - Backend
              ul
                li
                  span(lang="pt-BR") Java EE, Spring, JPA, Hibernate, Apache Tomcat, JBoss
                  span(lang="en-US") Java EE, Spring, JPA, Hibernate, Apache Tomcat, JBoss
                li
                  span(lang="pt-BR") Node.js, Express
                  span(lang="en-US") Node.js, Express
                li
                  span(lang="pt-BR") Symfony
                  span(lang="en-US") Symfony
            li
              span(lang="pt-BR") Bancos de Dados
              span(lang="en-US") Databases
              ul
                li
                  span(lang="pt-BR") PostgreSQL
                  span(lang="en-US") PostgreSQL
            li
              span(lang="pt-BR") Gráficos e Game Dev
              span(lang="en-US") Graphics and Game Development
              ul
                li
                  span(lang="pt-BR") OpenGL, DirectX, GLSL, HLSL, SDL 1.2, Irrlicht, LÖVE
                  span(lang="en-US") OpenGL, DirectX, GLSL, HLSL, SDL 1.2, Irrlicht, LÖVE
            li
              span(lang="pt-BR") Versionamento
              span(lang="en-US") Version Control
              ul
                li
                  span(lang="pt-BR") Git e SVN
                  span(lang="en-US") Git and SVN
        li
          span(lang="pt-BR") Sistemas operacionais
          span(lang="en-US") Operating systems
          ul
            li
              span(lang="pt-BR") GNU/Linux e Windows.
              span(lang="en-US") GNU/Linux and Windows.
        li
          span(lang="pt-BR") Idiomas
          span(lang="en-US") Languages
          ul
            li
              span(lang="pt-BR") Inglês médio.
              span(lang="en-US") English (medium) and portuguese (native).

      h2(class="education-heading education")
        span(lang="pt-BR") Formação Acadêmica
        span(lang="en-US") Education
      ul(class="education")
        li
          span(lang="pt-BR") Bacharelado em Ciência da Computação
          span(lang="en-US") Computer Science BSc.
          ul
            li Universidade Federal de Campina Grande — UFCG.
            li
              span(lang="pt-BR") Período: Junho/2006 — Agosto/2010.
              span(lang="en-US") Timespan: June/2006 — August/2010.

      h2(class="professional-experience-heading")
        span(lang="pt-BR") Experiência Profissional
        span(lang="en-US") Professional Experience
      ol
        li
          span(lang="pt-BR")
            | Atividade extra-curricular de pesquisa e desenvolvimento em
            | Linux, sistemas embarcados e redes no 
            a(class="trim" href="http://www.embeddedlab.org/") Embedded
          span(lang="en-US")
            | Extra curricular research and development on Linux, embedded
            | systems and network at 
            a(class="trim" href="http://www.embeddedlab.org/") Embedded
          ul
            li(class="project-details")
              span(lang="pt-BR")
                | Projetos:
                ul
                  li.
                    Colaboração de pesquisa em profiling de processador
                    dual-core na plataforma OMAP.
                  li.
                    Colaboração de pesquisa em congestionamento de rede com
                    TCP, UDP e DCCP.
                  li.
                    Desenvolvimento de módulo do kernel do linux para o
                    protocolo de rede DCCP.
                  li.
                    Colaboração de pesquisa em performance e consumo
                    energético de netbooks.
              span(lang="en-US")
                | Projects:
                ul
                  li.
                    Research colaboration in dual-core profiling on the OMAP 
                    platform.
                  li.
                    Research colaboration in network congestioning with TCP, 
                    UDP and DCCP.
                  li.
                    Development of kernel module code for network 
                    congestioning control.
                  li.
                    Research on performance and power consumption of netbooks.
            li
              span(lang="pt-BR") Período: Início, 2007 — Término, 2010.
              span(lang="en-US") Timespan: From 2007 — To 2010.
        li
          span(lang="pt-BR")
            | Desenvolvedor Java Web na 
            a(class="trim" href="http://codata.pb.gov.br/") CODATA
          span(lang="en-US")
            | Java Web developer at 
            a(class="trim" href="http://codata.pb.gov.br/") CODATA
          ul
            li
              span(lang="pt-BR")
                | Desenvolvimento de aplicações Web para o 
                a(class="trim" href="http://paraiba.pb.gov.br") estado da Paraíba
                |  e clientes
              span(lang="en-US")
                | Development of Web applications for the 
                a(class="trim" href="http://paraiba.pb.gov.br") state of Paraíba
                |  and clients
            li
              span(lang="pt-BR") Tecnologias: Java EE, Spring, JPA, Hibernate, Apache Tomcat, JBoss, PostgreSQL, SVN, Git
              span(lang="en-US") Technologies: Java EE, Spring, JPA, Hibernate, Apache Tomcat, JBoss, PostgreSQL, SVN, Git
            li
              span(lang="pt-BR") Período: Setembro/2013 — Janeiro/2017.
              span(lang="en-US") Timespan: Sep/2013 — Jan/2017.

      h2(class="publications-heading")
        span(lang="pt-BR") Publicações
        span(lang="en-US") Publications
      ol
        li
          span(lang="pt-BR") Desenvolvimento de aplicativos multimídia com DCCP
          span(lang="en-US") Development of multimedia applications using DCCP
          ol
            li
              span SALES, L. ; Perkusich, A. ; MELO, A. C. ; LIMA FILHO, E. X. ; COUTINHO, F. ; ALMEIDA, H. O. ; SALES, M. ; SANTOS, T.
            li
              span Desenvolvimento de aplicativos multimídia com DCCP. Linux Magazine, p. 68 - 76, 01 dez. 2008.
        li
          span(lang="pt-BR") Profiling de Aplicações em uma Plataforma Dual-Core
          span(lang="en-US") Application Profiling in a Dual-Core Platform
          ol
            li
              span Gorgonio, U.S. ; Cunha, H.R.B. ; LIMA FILHO, E. X. ; Luiz, S.O.D. ; Perkusich, A.
            li
              span
                a(class="trim" href="http://ieeexplore.ieee.org/document/4588103/") Application Profiling in a Dual-Core Platform. IEEE Transactions on Consumer Electronics, v. 2008, p. 1-2, 2008.

      h2(class="links-heading")
        span(lang="pt-BR") Links
        span(lang="en-US") Links
      ol
        li
          span(lang="pt-BR") GitHub
            |  - 
            a(class="trim" href="https://github.com/desadoc") https://github.com/desadoc
          span(lang="en-US") GitHub
            |  - 
            a(class="trim" href="https://github.com/desadoc") https://github.com/desadoc
        li
          span(lang="pt-BR") Itch.io
            |  - 
            a(class="trim" href="https://desadoc.itch.io/") https://desadoc.itch.io/
          span(lang="en-US") Itch.io
            |  - 
            a(class="trim" href="https://desadoc.itch.io/") https://desadoc.itch.io/
    script
      include script.js
