//- original html version saved from
//- https://rawgithub.com/
//- n2liquid/curriculum-vitae/template/guilherme-vieira-cv.html
html
  head
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(charset="utf-8")
    title Curriculum Vitae
    style
      include style.css
  body
    main
      header

        h1(class="introduction-heading") Erivaldo Filho
        p
          span(lang="pt-BR") Brasileiro, 33 anos.
          span(lang="en-US") Brazilian, 33 years old.
        p
          span(lang="pt-BR") João Pessoa, Brasil.
          span(lang="en-US") João Pessoa, Brazil.
        p
          span(lang="pt-BR") E-mail: desadoc@gmail.com
          span(lang="en-US") E-mail: desadoc@gmail.com

      h2(class="skills-heading")
        span(lang="pt-BR") Habilidades
        span(lang="en-US") Skills
      ul
        li
          span(lang="pt-BR") Tecnologias
          span(lang="en-US") Technologies
          ul
            li
              span(lang="pt-BR") Linguagens de Programação
              span(lang="en-US") Programming Languages
              ul
                li
                  span(lang="pt-BR") C, C++, Java, C#, JavaScript, Typescript, Lua
                  span(lang="en-US") C, C++, Java, C#, JavaScript, Typescript, Lua
            li
              span(lang="pt-BR") Web - Frontend
              span(lang="en-US") Web - Frontend
              ul
                li
                  span(lang="pt-BR") HTML, DOM Api, jQuery, XHR, Fetch, CSS3, Flexbox, SASS, JSP, JSF, Jade/Pug
                  span(lang="en-US") HTML, DOM Api, jQuery, XHR, Fetch, CSS3, Flexbox, SASS, JSP, JSF, Jade/Pug
                li
                  span(lang="pt-BR") Bootstrap, Zurb Foundation
                  span(lang="en-US") Bootstrap, Zurb Foundation
                li
                  span(lang="pt-BR") React, React-Redux, Redux-Saga, Aurelia, Mithril
                  span(lang="en-US") React, React-Redux, Redux-Saga, Aurelia, Mithril
            li
              span(lang="pt-BR") Web - Backend
              span(lang="en-US") Web - Backend
              ul
                li
                  span(lang="pt-BR") .NET Core, .NET Framework, ASP.NET Core, Entity Framework, Java EE, Spring, JPA, Hibernate, Apache Tomcat, JBoss
                  span(lang="en-US") .NET Core, .NET Framework, ASP.NET Core, Entity Framework, Java EE, Spring, JPA, Hibernate, Apache Tomcat, JBoss
                li
                  span(lang="pt-BR") Node.js, Express, NPM, Yarn
                  span(lang="en-US") Node.js, Express, NPM, Yarn
            li
              span(lang="pt-BR") Bancos de Dados
              span(lang="en-US") Databases
              ul
                li
                  span(lang="pt-BR") PostgreSQL, Microsoft SQL Server
                  span(lang="en-US") PostgreSQL, Microsoft SQL Server
            li
              span(lang="pt-BR") Gráficos e Game Dev
              span(lang="en-US") Graphics and Game Development
              ul
                li
                  span(lang="pt-BR") OpenGL, DirectX, GLSL, HLSL, SDL, LÖVE
                  span(lang="en-US") OpenGL, DirectX, GLSL, HLSL, SDL, LÖVE
            li
              span(lang="pt-BR") Versionamento
              span(lang="en-US") Version Control
              ul
                li
                  span(lang="pt-BR") Git e SVN
                  span(lang="en-US") Git and SVN
        li
          span(lang="pt-BR") Sistemas operacionais
          span(lang="en-US") Operating systems
          ul
            li
              span(lang="pt-BR") GNU/Linux e Windows.
              span(lang="en-US") GNU/Linux and Windows.
        li
          span(lang="pt-BR") Idiomas
          span(lang="en-US") Languages
          ul
            li
              span(lang="pt-BR") Inglês entre intermediário e avançado.
              span(lang="en-US") English (intermediate to advanced) and portuguese (native).

      h2(class="education-heading education")
        span(lang="pt-BR") Formação Acadêmica
        span(lang="en-US") Education
      ul(class="education")
        li
          span(lang="pt-BR") Bacharelado em Ciência da Computação
          span(lang="en-US") Computer Science BSc.
          ul
            li
              a(class="trim" href="http://www.ufcg.edu.br") Universidade Federal de Campina Grande — UFCG.
            li
              span(lang="pt-BR") Período: Junho/2006 — Agosto/2010.
              span(lang="en-US") Timespan: June/2006 — August/2010.

      h2(class="professional-experience-heading")
        span(lang="pt-BR") Experiência Profissional
        span(lang="en-US") Professional Experience
      ol
        li
          span(lang="pt-BR")
            | Desenvolvedor full stack em 
            a(class="trim" href="https://www.zbrasolutions.com/") ZBRA Solutions
          span(lang="en-US")
            | Full stack developer at 
            a(class="trim" href="https://www.zbrasolutions.com/") ZBRA Solutions
          ul
            li
              span(lang="pt-BR")
                | Desenvolvimento backend em C#
              span(lang="en-US")
                | Backend development using C#
            li
              span(lang="pt-BR") Tecnologias: C#, .NET Core, .NET Framework, ASP.NET Core, Entity Framework, Microsoft SQL Server, Git, Visual Studio, Azure DevOps
              span(lang="en-US") Technologies: C#, .NET Core, .NET Framework, ASP.NET Core, Entity Framework, Microsoft SQL Server, Git, Visual Studio, Azure DevOps
            li
              span(lang="pt-BR") Período: Fevereiro/2019 — em andamento.
              span(lang="en-US") Timespan: February/2019 — ongoing.
        li
          span(lang="pt-BR")
            | Desenvolvedor Frontend em 
            a(class="trim" href="https://www.callix.com.br/") Callix
          span(lang="en-US")
            | Frontend developer at 
            a(class="trim" href="https://www.callix.com.br/") Callix
          ul
            li
              span(lang="pt-BR")
                | Desenvolvimento de SPA em 
                a(class="trim" href="https://aurelia.io/") Aurelia
              span(lang="en-US")
                | Development of Single Page Application in 
                a(class="trim" href="https://aurelia.io/") Aurelia
            li
              span(lang="pt-BR") Tecnologias: HTML, DOM Api, CSS3/SASS, Flexbox, Aurelia, Vagrant, Docker, Git
              span(lang="en-US") Technologies: HTML, DOM Api, CSS3/SASS, Flexbox, Aurelia, Vagrant, Docker, Git
            li
              span(lang="pt-BR") Período: Novembro/2017 — Abril/2018.
              span(lang="en-US") Timespan: Nov/2017 — Apr/2018.
        li
          span(lang="pt-BR")
            | Desenvolvedor Java Web na 
            a(class="trim" href="http://codata.pb.gov.br/") CODATA
          span(lang="en-US")
            | Java Web developer at 
            a(class="trim" href="http://codata.pb.gov.br/") CODATA
          ul
            li
              span(lang="pt-BR")
                | Desenvolvimento de aplicações Web para o 
                a(class="trim" href="http://paraiba.pb.gov.br") estado da Paraíba
                |  e clientes
              span(lang="en-US")
                | Development of Web applications for the 
                a(class="trim" href="http://paraiba.pb.gov.br") state of Paraíba
                |  and clients
            li
              span(lang="pt-BR") Tecnologias: Java EE, Spring, JPA, Hibernate, Apache Tomcat, JBoss, PostgreSQL, SVN, Git
              span(lang="en-US") Technologies: Java EE, Spring, JPA, Hibernate, Apache Tomcat, JBoss, PostgreSQL, SVN, Git
            li
              span(lang="pt-BR") Período: Setembro/2013 — Janeiro/2017.
              span(lang="en-US") Timespan: Sep/2013 — Jan/2017.
        li
          span(lang="pt-BR")
            | Atividade extra-curricular de pesquisa e desenvolvimento em
            | Linux, sistemas embarcados e redes no 
            a(class="trim" href="http://www.embeddedlab.org/") Embedded
          span(lang="en-US")
            | Extra curricular research and development on Linux, embedded
            | systems and network at 
            a(class="trim" href="http://www.embeddedlab.org/") Embedded
          ul
            li(class="project-details")
              span(lang="pt-BR")
                | Projetos:
                ul
                  li.
                    Colaboração de pesquisa em profiling de processador
                    dual-core na plataforma OMAP.
                  li.
                    Colaboração de pesquisa em congestionamento de rede com
                    TCP, UDP e DCCP.
                  li.
                    Desenvolvimento de módulo do kernel do linux para o
                    protocolo de rede DCCP.
                  li.
                    Colaboração de pesquisa em performance e consumo
                    energético de netbooks.
              span(lang="en-US")
                | Projects:
                ul
                  li.
                    Research colaboration in dual-core profiling on the OMAP 
                    platform.
                  li.
                    Research colaboration in network congestioning with TCP, 
                    UDP and DCCP.
                  li.
                    Development of kernel module code for network 
                    congestioning control.
                  li.
                    Research on performance and power consumption of netbooks.
            li
              span(lang="pt-BR") Período: Início, 2007 — Término, 2010.
              span(lang="en-US") Timespan: From 2007 — To 2010.

      h2(class="publications-heading")
        span(lang="pt-BR") Publicações
        span(lang="en-US") Publications
      ol
        li
          span(lang="pt-BR") Desenvolvimento de aplicativos multimídia com DCCP
          span(lang="en-US") Development of multimedia applications using DCCP
          ol
            li
              span SALES, L. ; Perkusich, A. ; MELO, A. C. ; LIMA FILHO, E. X. ; COUTINHO, F. ; ALMEIDA, H. O. ; SALES, M. ; SANTOS, T.
            li
              span Desenvolvimento de aplicativos multimídia com DCCP. Linux Magazine, p. 68 - 76, 01 dez. 2008.
        li
          span(lang="pt-BR") Profiling de Aplicações em uma Plataforma Dual-Core
          span(lang="en-US") Application Profiling in a Dual-Core Platform
          ol
            li
              span Gorgonio, U.S. ; Cunha, H.R.B. ; LIMA FILHO, E. X. ; Luiz, S.O.D. ; Perkusich, A.
            li
              span
                a(class="trim" href="http://ieeexplore.ieee.org/document/4588103/") Application Profiling in a Dual-Core Platform. IEEE Transactions on Consumer Electronics, v. 2008, p. 1-2, 2008.
      
      h2(class="links-heading")
        span(lang="pt-BR") Links
        span(lang="en-US") Links
      ol
        li
          span(lang="pt-BR")
            a(class="trim" href="https://github.com/desadoc") GitHub
            |  - https://github.com/desadoc
          span(lang="en-US")
            a(class="trim" href="https://github.com/desadoc") GitHub
            |  - https://github.com/desadoc
        li
          span(lang="pt-BR")
            a(class="trim" href="https://desadoc.itch.io/") Itch.io
            |  - https://desadoc.itch.io/
          span(lang="en-US")
            a(class="trim" href="https://desadoc.itch.io/") Itch.io
            |  - https://desadoc.itch.io/
    script
      include script.js
